.mat-drawer-container {
    height: 100vh;
    background-color: rgb(245, 245, 245);
    color: black;
}

.mat-drawer{
    background-color: white;
    color: black;
}

.mat-toolbar {
    background-color: blue;
}

.router-container {
    padding-left: 56px;
    padding-top: 16px;
}

.menu-items {
    list-style-type: none;
    padding-left: 0;
    margin: 0;

    li {
        padding-left: 16px;
        padding-right: 16px;
        height: 48px;
        display: flex;
        align-items: center;
        cursor: pointer;

        mat-icon {
            margin-right: 16px;
        }

        &:hover {
            background-color: rgba(0,0,0,0.05);
        }

        &:focus {
            outline: none;
        }
    }
}

.menu-icon {
    cursor: pointer;
    margin-right: 20px;
}

.sidenav {
    width: 300px;
}

.logo-container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 16px;
    min-height: 32px;
    display: flex;
    align-items: center;
}