.mat-card-profile {
    background-color: blue;
    min-height: 250px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: row;

    img {
        height: 100px;
        width: 100px;
        object-fit: cover;
        border-radius: 100%;
        margin-bottom: 16px;
        margin-left: 16px;
    }
}

.profile-details {
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100px;
    margin-bottom: 16px;
}

.adress-details {
    margin-top: 32px;
}

.btn-Icon {
    position: absolute;
    top: 5px;
    right: 5px;
}